<div id="tagDiv">

    <script type="text/ng-template" id="tagModal">
        <div class="modal-header">
            <button type="button" class="close" ng-click="close()" aria-label="Close">
                <span aria-hidden="true" class="glyphicon glyphicon-remove"></span>
            </button>
            <h4 class="modal-title" id="tagModalLabel">{{modalAction}} Tag</h4>
        </div>
        <div class="modal-body">
            <form>
                <div class="form-group" ng-class="{'has-error': !isValid}">
                    <label for="tag-name" class="control-label">Name:</label>
                    <input type="text" class="form-control" ng-model="tag.name" id="tag-name">
                </div>
                <div class="form-group">
                    <label for="tag-description" class="control-label">Description:</label>
                    <input type="text" class="form-control" ng-model="tag.description" id="tag-description">
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" ng-click="close()">Close</button>
            <button type="button" id="modalMainAction" class="btn btn-primary" ng-click="validateAndSave()">{{modalAction}}</button>
        </div>
    </script>

    <div>
        <h1>Tags
            <button type="button" id="addTag" class="btn btn-default btn-xs" ng-click="openModal()">
                <span class="glyphicon glyphicon-plus text-success"></span>
            </button>
        </h1>
    </div>

    <!-- TODO add, edit and remove tag functionality -->

    <table id="tagsTable" class="table table-hover">
        <thead>
        <tr>
            <th class="col-xs-1">Id</th>
            <th class="col-xs-4">Name</th>
            <th class="col-xs-5">Description</th>
            <th class="col-xs-2">Actions</th>
        </tr>
        </thead>
        <tbody ng-repeat="tag in tags">
        <tr>
            <td>{{ tag.id }}</td>
            <td>{{ tag.name }}</td>
            <td>{{ tag.description }}</td>
            <td>
                <button type="button" class="btn btn-default btn-xs" ng-click="openModal(tag)">
                    <span class="glyphicon glyphicon-pencil text-success"></span>
                </button>
                <button type="button" class="btn btn-default btn-xs" ng-click="delete(tag)">
                    <span class="glyphicon glyphicon-remove text-danger"></span>
                </button>
            </td>
        </tr>
        </tbody>
    </table>
</div>